In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
import json

In [3]:
#Creating a Variable for all files to be read 
g2006= "grad2006.csv"
g2007= "grad2007.csv"
g2008= "grad2008.csv"
g2009= "grad2009.csv"

In [4]:
#Reading all CSV files
df_2006 = pd.read_csv(g2006)
df_2007 = pd.read_csv(g2007)
df_2008 = pd.read_csv(g2008)
df_2009 = pd.read_csv(g2009)

In [5]:
#Renaming 2007 column names so they match the rest of the files
df_2007.rename(columns ={'survyear' : "SURVYEAR", 'fipst':"FIPST",'leaid':"LEAID","totd912":"TOTD912",
                         "ebs912":"EBS912","drp912":"DRP912","totdpl":"TOTDPL","afgeb":"AFGEB",
                         "afgr":"AFGR","totohc":"TOTOHC"}, inplace = True)

In [6]:

#Concatinating all files into one big dataframe
a = pd.concat([df_2006,df_2007], ignore_index = True)

In [7]:
b = pd.concat([a,df_2008], ignore_index = True)

In [8]:
finished_DF = pd.concat([b,df_2009], ignore_index = True)

In [16]:
finished_DF.rename(columns ={'SURVYEAR' : "Year", 'FIPST':"State","TOTD912":"Total Dropouts",
                         "EBS912":"Dropout Enroll base","DRP912":"Droupout Rate","TOTDPL":"Diploma Count",}, inplace = True)
finished_DF

,Year,State,LEAID,Total Dropouts,Dropout Enroll base,Droupout Rate,Diploma Count,AFGEB,AFGR,TOTOHC
0,2006-07,1,100002,0,0,-2.0,-1,-1,-1.0,-1
1,2006-07,1,100005,30,749,4.0,192,263,73.0,14
2,2006-07,1,100006,46,1209,3.8,216,456,47.4,28
3,2006-07,1,100007,45,2726,1.7,779,878,88.7,10
4,2006-07,1,100008,8,1968,0.4,562,576,97.6,10
...,...,...,...,...,...,...,...,...,...,...
73124,2009-10,66,6600040,-1,-1,-1.0,-1,-1,-1.0,-1
73125,2009-10,69,6900030,-1,-1,-1.0,-1,-1,-1.0,-1
73126,2009-10,72,7200030,-9,145172,-9.0,25514,41984,60.8,-2
73127,2009-10,78,7800002,144,2591,5.6,463,-2,-2.0,0
73128,2009-10,78,7800030,136,2474,5.5,495,1269,39.0,21

In [17]:
#Creating a csv file with complete DF
finished_DF.to_csv("Data/GradRates.csv")