In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
import json

In [3]:
# Study data files
estimated_crimes_path = "estimated_crimes.csv"

# Read the  data and the study results
estimated_crimes = pd.read_csv(estimated_crimes_path)

estimated_crimes

,year,state_abbr,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats
0,1995,NaN,262803276,1798792,21606,97470,NaN,580509,1099207,12063935,2593784,7997710,1472441,NaN
1,1996,NaN,265228572,1688540,19645,96252,NaN,535594,1037049,11805323,2506400,7904685,1394238,NaN
2,1997,NaN,267783607,1636099,18211,96153,NaN,498534,1023201,11558975,2461026,7743760,1354189,NaN
3,1998,NaN,270248003,1533887,16974,93144,NaN,447186,976583,10951827,2332735,7376311,1242781,NaN
4,1999,NaN,272690813,1426044,15522,89411,NaN,409371,911740,10208334,2100739,6955520,1152075,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1139,2012,WY,576626,1161,14,154,NaN,61,932,13222,2125,10513,584,NaN
1140,2013,WY,583223,1212,17,144,NaN,74,917,12809,1956,10275,578,NaN
1141,2014,WY,584304,1142,16,127,204.0,53,899,11477,1689,9185,603,NaN
1142,2015,WY,586555,1300,16,171,124.0,59,1054,11151,1762,8797,592,NaN
1143,2016,WY,585501,1430,20,205,150.0,59,1146,11460,1771,8889,800,NaN

In [4]:
# Study data files
US_gradrate_path = "US_DeptofED_4YearGradRate_SchoolLevel-CLEAN.csv"

# Read the  data and the study results
US_gradrate = pd.read_csv(US_gradrate_path)

US_gradrate

,LEAID,School District Name,NCESSCH,School Name,FIPST,State Name,Date of SY End,Total Students in Cohort,Total Students in Cohort.1
0,100005,ALBERTVILLE CITY,1.000050e+10,ALBERTVILLE HIGH SCH,1,ALABAMA,6/30/11,252.0,252.0
1,100005,ALBERTVILLE CITY,1.000050e+10,ALBERTVILLE HIGH SCH,1,ALABAMA,6/30/12,268.0,268.0
2,100005,ALBERTVILLE CITY,1.000050e+10,ALBERTVILLE HIGH SCH,1,ALABAMA,6/30/13,256.0,256.0
3,100005,ALBERTVILLE CITY,1.000050e+10,ALBERTVILLE HIGH SCH,1,ALABAMA,6/30/14,248.0,248.0
4,100005,ALBERTVILLE CITY,1.000050e+10,ALBERTVILLE HIGH SCH,1,ALABAMA,6/30/15,252.0,252.0
...,...,...,...,...,...,...,...,...,...
132293,5900196,MESKWAKI SETTLEMENT SCHOOL,5.900200e+11,MESKWAKI SETTLEMENT SCHOOL,59,BUREAU OF INDIAN AFFAIRS,6/30/11,11.0,11.0
132294,5900196,MESKWAKI SETTLEMENT SCHOOL,5.900200e+11,MESKWAKI SETTLEMENT SCHOOL,59,BUREAU OF INDIAN AFFAIRS,6/30/16,19.0,19.0
132295,5900197,NOLI SCHOOL,5.900200e+11,NOLI SCHOOL,59,BUREAU OF INDIAN AFFAIRS,6/30/11,23.0,23.0
132296,5900197,NOLI SCHOOL,5.900200e+11,NOLI SCHOOL,59,BUREAU OF INDIAN AFFAIRS,6/30/12,28.0,28.0
132297,5900197,NOLI SCHOOL,5.900200e+11,NOLI SCHOOL,59,BUREAU OF INDIAN AFFAIRS,6/30/16,17.0,17.0

In [6]:
estimated_crimes.isnull().sum()

year                      0
state_abbr               22
population                0
violent_crime             0
homicide                  0
rape_legacy               0
rape_revised            937
robbery                   0
aggravated_assault        0
property_crime            0
burglary                  0
larceny                   0
motor_vehicle_theft       0
caveats                1073
dtype: int64